body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(157, 243, 165);
}

#task-form {
    display: flex;
    margin-bottom: 20px;
}

#new-task {
    flex-grow: 1;
    margin-right: 10px;
}

#task-list {
    list-style: none;
    padding: 0;
}

.task-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.task-item label {
    flex-grow: 1;
    margin-left: 10px;
}

.delete-button {
    background-color: red;
    color: rgb(255, 255, 255);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.completed-task {
    text-decoration: line-through;
}